BASE_URL=https://v2.api.mijnkantoorapp.nl/v1
BEARER_TOKEN=your_bearer_token
TENANT=your_tenant_id
ROOT_DIR=hashed_id_of_a_dossier_dir_that_allows_non_global_children
DRY_RUN=true
CUSTOMER_FOLDER_PATH=example_root